body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
.weather-city {
  font-size: 38px;
  margin: 0;
  line-height: 48px;
}
.weather-description {
  font-size: 16px;
  color: rgb(39, 33, 66, 0.4);
}
.weather-description strong {
  color: #f65282;
}

.weather-temperature {
  display: flex;
}
a {
  color: #4c5fd5;
}
.container {
  background: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08);
}
header {
  border-top: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  width: 80%;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
}
.search-form-button {
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  background-color: #4c5fd5;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}
main {
  padding: 30px 0;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgb(0, 0, 0, 0.6);
}
.weather-icon {
  margin-top: 22px;
  font-size: 44px;
}
.weather-value {
  font-size: 88px;
  margin-left: 10px;
  font-weight: solid;
}
.weather-unit {
  font-size: 28px;
  margin-top: 16px;
}
#forecast  {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgb(39, 33, 66, 0.4);
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
  
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-temperature {
  padding: 0 10px;
}